// ----------------------------------------------reset----------------------------------------------
@import 'reset.scss';

// ----------------------------------------------fonts----------------------------------------------
// @import "fonts.scss";

// ----------------------------------------------variables----------------------------------------------
// $blue: #22b7ca;
// $mnw992: 'min-width: 992px';
// $mxw1700: 'max-width: 1700px';

// ----------------------------------------------body----------------------------------------------
body {
    font-family: Monda, sans-serif;
    font-size: 16px;
    font-weight: regular;
    // color: $blue;
}

// ----------------------------------------------wrapper----------------------------------------------
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

// ----------------------------------------------container----------------------------------------------
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

// ----------------------------------------------import----------------------------------------------
@import 'components.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';